// fonts
   
    /* nunito-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/nunito-v25-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/nunito-v25-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* nunito-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/nunito-v25-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/nunito-v25-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

    /* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

    /* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

   /* work-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/work-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/work-sans-v18-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* work-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/work-sans-v18-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/work-sans-v18-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

// fonts end
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    width: 100%
}
body{
    width: 100%
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}

@mixin responsive($breakpoints) {
    @if $breakpoints == minilaptop{
       @media only screen and (max-width: 1200px) {@content}
    };
    @if $breakpoints == middlaptop{
        @media only screen and (max-width: 1050px) {@content}
     };
     @if $breakpoints == littlelaptop{
        @media only screen and (max-width: 1100px) {@content}
     };


    @if $breakpoints == tablet{
        @media only screen and (max-width:950px) {@content}
     };
     @if $breakpoints == minitablet{
        @media only screen and (max-width:800px) {@content}
     };
     @if $breakpoints == bigmobile{
        @media only screen and (max-width:640px) {@content}
     };
     @if $breakpoints == mobile{
        @media only screen and (max-width:580px) {@content}
     };
}

$title-and-bg-volor:#156963;
$text-and-heading-color:#2C1500;
$black-color:#000;
$white-color:#fff;
.wrapper{
    width: 100%;
    margin: 0 auto;
}

.container{
    width: 100%;
    max-width: 1168px;
    margin:  0 auto;
}

.header{
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 140px;
    @include responsive(mobile){
         flex-direction: column-reverse;
         align-items: center;
     }
    .header-img-wrapp{
        width: 100%;
        max-width: 47.5%;
        .header-img{
            width: 100%;
            max-width: 100%;
            height:auto;
            display: block;

        }
    }
    .header-infors{
        width: 100%;
        max-width: 52.5%;
        padding-top: 50px;
        // padding-right: 56px;
        margin: 0 auto;
        @include responsive(minilaptop){
            padding-top: 25px;
          }
        .nav{
            width: 100%;
            padding-right: 56px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;
            @include responsive(minilaptop){
                justify-content: center;
                padding-right: 0;
              }
              @include responsive(tablet){
                gap: 4px;
              }
        }
        .nav-services{
            display: flex;
            gap: 40px;
            @include responsive(tablet){
                gap: 10px;
             }
        }
        .nav-btns{
            display: flex;
            align-items: center;
            gap: 29.5px;
            @include responsive(tablet){
                 gap: 15px;
             }
        }
        .sign{
            font-family: "Nunito",sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            @include responsive(tablet){
                 font-size: 12px;
                 line-height: 17px;
             }
        }
        .one-link{
             color: $title-and-bg-volor;
             padding-left: 37px;
             @include responsive(tablet){
                 padding-left: 20px;
             }
        }
        .one-btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px 32.5px;
            color: $white-color;
            background-color: $title-and-bg-volor;
            @include responsive(minilaptop){
                padding: 6px 25px;
             }
        }
    }
    .hero{
        padding-top: 150px;
        padding-left: 90px;
        padding-bottom: 140px;
        margin-bottom: 50px;
        @include responsive(minilaptop){
          padding-top: 70px;
          margin-bottom: 0px;
          padding-left: 50px;
          padding-bottom: 40px;
          margin-bottom: 0px;
        }
        @include responsive(tablet){
            padding-left: 20px;
            padding-bottom: 30px;
            padding-top: 50px;
         }
         @include responsive(mobile){
            padding-bottom:80px ;
            text-align: center;
         }
        .hero-heading{
            font-family: 'Montserrat',sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 68px;
            line-height: 83px;
            color: $title-and-bg-volor;
            width: 100%;
            max-width: 523px;
            height: auto;
            margin-bottom: 30px;
            @include responsive(minilaptop){
                font-size: 45px;
                margin-bottom: 10px;
              }
              @include responsive(tablet){
                max-width: 300px;
                font-size: 30px;
                line-height: 1.5;
                margin-bottom: 10px;
             }
             @include responsive(mobile){
                text-align: center;
            }
        }
        .hero-text{
            width: 100%;
            max-width: 493px;
            height: 96px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: $text-and-heading-color;
            opacity: 0.8;
            @include responsive(minilaptop){
                font-size: 15px;
                line-height: 28px;
              }
              @include responsive(tablet){
                 font-size: 13px;
                 line-height: 22px;
             }
             
        }
    }
    .hero-bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Montserrat";
        font-weight: 500;
        padding-left: 110px;
        @include responsive(mobile){
            margin-bottom: 30px;
         }
        .strelka{
            width: 100%;
            max-width: 15px;
            height: 11px;
        }
         @include responsive(minilaptop){
            padding-left: 50px;
         }
         @include responsive(tablet){
            padding-left: 20px;
         }
    }
    .left{
        .l-top{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #333333;
            order: 1;
            opacity: 0.5;
            display: flex;
            align-items: center;
            gap: 8px;
            @include responsive(minilaptop){
                 font-size: 20px;
                 line-height: 25px;
                 gap: 5px;
             }
             @include responsive(tablet){
                font-size: 16px;
                line-height: 20px;
                gap: 5px;
            }

             @include responsive(mobile){
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 1px;
             }
        }
        .l-bottom{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
            color: $title-and-bg-volor;
            @include responsive(minilaptop){
                font-size: 25px;
                line-height: 30px;
             }
             @include responsive(tablet){
                font-size: 19px;
                line-height: 24px;
             }
             @include responsive(mobile){
                 font-size: 16px;
                 line-height: 20px;
             }
        }
    }
    .right{
        background-color: $title-and-bg-volor;
        font-family:"Montserrat";
        font-weight: 500;
        width: 100%;
        max-width: 320px;
        height: 160px;
        padding-top: 40px;
        padding-left: 49px;
        background-color: $title-and-bg-volor;
        @include responsive(minilaptop){
            padding-top: 30px;
            padding-left: 38px;
            max-width: 260px;
            height: 100px;
         }
         @include responsive(tablet){
            padding-top: 26px;
            padding-left: 34px;
            max-width: 220px;
            height: 80px;
         }
         @include responsive(mobile){
            padding-top: 6px;
            padding-left: 18px;
            max-width: 160px;
            height: 50px;
         }
        .r-top{
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 24px;
            line-height: 29px;
            color: #F2F2F2;
            opacity: 0.5;
            margin-bottom: 13.5px;
            @include responsive(minilaptop){
                font-size: 20px;
                line-height: 25px;
             }
             @include responsive(tablet){
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 5px;
             }
             @include responsive(mobile){
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 1px;
             }
              
        }
        .r-bottom{
            font-weight: 500;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            @include responsive(minilaptop){
                font-size: 25px;
                line-height: 30px;
             }
             @include responsive(tablet){
                font-size: 20px;
                line-height: 25px;
             }
        }
    }

}
.cards{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    padding-bottom: 19.5px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 24px;
}
.cards-sections{
    display: flex;
    gap: 32px;
    margin: 0 auto;
    margin-bottom: 83px;
    @include responsive(middlaptop){
        gap: 8px;
    }
    @include responsive(tablet){
        display: flex;
        flex-direction: column; 
        align-items: center;  
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .c-one-wrapp{
        display: flex;
        gap: 32px;
        @include responsive(middlaptop){
            gap: 8px;
        } 
        @include responsive(mobile){
            display: flex;
            flex-direction: column;   
            margin: 0 auto;
            text-align: center;
        }

    }
}
.card{
    width: 100%;
    max-width: 268px;
    padding-top: 22px;
    border: 1px solid #E0E0E0;
    padding-left: 16px;
    padding-bottom: 21px;
    padding-right: 16px;
    @include responsive(middlaptop){
        padding-top: 12px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 11px;
    } 
    
        .c-top{
            display: flex;
            gap: 16px;
            margin-bottom: 16px;
        }
        .c-heading{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: $title-and-bg-volor;
            width: 137px;
        }
        .c-bott{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 16px;
        }
        .select{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: $black-color;
            padding: 8px 12px;
        }
        
    }
    .cards-bott{
        display: flex;
        justify-content:  space-between;
        width: 100%;
        align-items: center;
        .card-bott-heading{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: $black-color;
        }
    }
    .salom{
        width: 100%;
        max-width: 130px;
        height: 31px;
        text-align: center;
    }

    .plants-price{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        @include responsive(mobile){
            flex-direction: column;
            gap: 20px;
            align-items: center;
            text-align: center;
         }
        .one-kaktus{
            width: 100%;
            max-width: 18%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
        }
        .kak-name{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: $black-color;
        }
        .img-k-one{
            width: 100%;
            height: auto;
            margin-bottom: 6px;
        }
        .kak-price{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black-color;
        }
        
    }

    .main{
        padding-bottom: 80px;
        width: 100%;
        border-bottom: 1px solid $title-and-bg-volor;
    }
    .main-midd{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
        @include responsive(mobile){
            flex-direction: column-reverse;
            text-align: center;
         }
        .midd-left{
            width: 100%;
            max-width: 49%;
            font-family: "Montserrat";
            color: #2C1500;
            .midd-heading{
                font-weight: 700;
                font-size: 40px;
                line-height: 56px;
                width: 100%;
                max-width: 522px;
                height: auto;
                margin-bottom: 16px;
                @include responsive(mobile){
                     font-size: 30px;
                     line-height: 45px;
                 }
            }
            .midd-text{
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                width: 100%;
                max-width: 506px;
                height: auto;
                margin-bottom: 74px;
            }
            .midd-l-img{
                width: 100%;
                height: auto;
            }
        }
        .midd-right{
            width: 100%;
            max-width:44%;
            .m-r-img{
                width: 100%;
                height: auto;
            }
        }
    }

    .main-bott{
        width: 100%;
        height: 360px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F3F4F6;
        @include responsive(mobile){
             flex-direction: column;
             align-items: center;

             height: auto;
             text-align: center;
         }
        
        .m-bott-left{
            width: 100%;
            max-width: 58%;
            padding-left: 97px;
            @include responsive(mobile){
                 margin-bottom: 20px;
                 padding-left: 0px;
             }
        }
        .main-bott-right{
            width: 100%;
            max-width: 40%;
             .m-b-img{
                width: 100%;
                height: auto;
                display: block;
             }
        }
        .main-bott-heading{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 56px;
            width: 100%;
            max-width: 585px;
            height: auto;
            margin-bottom: 42px;
             @include responsive(littlelaptop){
                font-size: 30px;
                line-height: 50px;
             }
        
        }
        .m-bott-link{
            padding: 10px 42px;
            background-color: $title-and-bg-volor;
            color: $white-color;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;

        }
    }

    .footer-sec-one{
        width: 100%;
        max-width: 282px;
        height: auto;
    }
    .footer-head{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $title-and-bg-volor;
        margin-bottom: 24px;
    }
    .f-title{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        margin-bottom: 10px;
    }
    .f-text{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #4F4F4F;
    }
.footer-sec-two{
    font-family: "Work Sans";
    line-height: 16px;
    color: $black-color;
    .title-two{
        font-size: 16px;
        font-weight: 500;
        color: $black-color;
        margin-bottom: 20px;
    }
    .cen-title{
        color: $black-color;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 14px;
    }
    
}
input{
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    padding: 8px 87px 8px 13px;
}
input::placeholder{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $black-color;
    opacity: 0.5;
}
.f-button{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    border: none;
    padding: 8px 18px;
    background-color: $title-and-bg-volor;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
button{
    cursor: pointer;
}
.footer{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 71px;
    
    .f-wrapp{
        display: flex;
        justify-content: center;
        gap: 80px;
        margin: 0 auto;
        @include responsive(minitablet){
             gap: 30px;
        }

        @include responsive(bigmobile){
            text-align: center;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
         }
    }
    .title-four{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
    }
    .footer-sec-four{
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
}




